{% extends 'base.html' %}

{% block title %}{{ test.name }}{% endblock %}

{% block content %}
<h1>{{ test.name }}: {{ team.name }}</h1>

<h4>Downloads</h4>
<ul>
{% for file in files %}
<li><a href="{{ file.pdf_file.url }}" target="_blank">{{ file.name }}</a></li>
{% endfor %}
</ul>

<form method="post">
    {% csrf_token %}
    <table>
		<tr><th>Problem</th> <th>Current Answer</th> <th>New Answer</th><tr>
		{% for field in form.visible_fields %}
		<tr>
			<th>{{ field.label }}</th>
			<td>{{ statuses|get_item:field.label }}</td>
			<td>{{ field }}</td>
			{% if field.errors %}
				<td style="border-color:transparent; background-color:transparent">
				{% for error in field.errors %}
					{{ error }}
				{% endfor %}</td>
			{% endif %}
		</tr>
		{% endfor %}
		<tr><td colspan="3"> <input type="submit" value="Submit"> </td></tr>
	</table>
    
</form>

{% endblock %}