{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'onlinemathopen/style.css' %}">

<html lang="en">
<head>
    <title>{% block title %}Online Math Open{% endblock %}</title>
</head>

<body>

	<div id="banner">
		<a href="/"><img src="{% static 'onlinemathopen/OMO_logo.png' %}" height="150px"/></a>
	</div>
	
    <div id="nav">
        {% block nav %}
        <ul class="nav">
            <li><a href="/">Home</a></li>
            
			<li><a href="/active_tests">Current tests</a></li>
			<li><a href="/past_tests">Past tests</a></li>
			
			{% if request.user.is_authenticated %}
				<li><a href="/logout">Logout</a></li>
			{% else %}
				<li><a href="/login">Login</a></li>
				<li><a href="/signup">Sign Up</a></li>
			{% endif %}
			
			
        </ul>
        {% endblock %}
    </div>

    <div id="content">
		{% if messages %}
		<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		
        {% block content %}{% endblock %}
    </div>
	
	<div id="footer">
	<p><small>Online Math Open, est. 2012</small></p>
	</div>
</body>
</html>