body {
    font-family: "Helvetica","Arial","Liberation Sans","DejaVu Sans",sans-serif;
    font-size: 100%
}

.nav li {
    display: inline;
    font-weight: bold;
	margin-right: 30px;
}

table {
    border-collapse: collapse;
	background: none;
	background-color: transparent;
}

table,th,td {
    border: 1px solid #AAA
}

th,td {
    text-align: center;
    padding: 5px;
}

th {
    background-color: #122b4a;
    color: #f7fafd
}

td {
    background-color: #e8e8e8;
}

form {
    margin: 0.7em 0
}

form.inline_form {
    margin: 0 0
}
